<.app_header current_user={@current_user} />
<aside class="flex flex-col bg-zinc-900 w-48 h-screen">
  <div class="p-2">
    <.input placeholder="Search" name="search" value="" />
  </div>
  <%= for chat <- @chats do %>
    <.button class="text-left w-full h-12 rounded-none">
      <%= chat.name %>
    </.button>
  <% end %>
</aside>
